.modulContainer {
  height: 100vh;
  width: calc(100vw - (100vw - 100%));

  .content {
    padding: 1rem;
    .title {
      padding-bottom: 15px;
    }
  }
  
  .menu {
    width: 100%;
    position: fixed;
    bottom: 20px;
    right: 20px;
    .menuItem {
      text-align: center;
      padding: 20px;
    }
  }
}

.customAntListDescription {
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden !important;
}

.customList > div {
  width: 100%;
}