.modulContainer {
  height: 100vh;
  width: calc(100vw - (100vw - 100%));

  .content {
    padding: 1rem;
    .title {
      padding-bottom: 15px;
    }
  }
  
  .menu {
    width: 100%;
    position: fixed;
    bottom: 20px;
    right: 20px;
    .menuItem {
      text-align: center;
      padding: 20px;
    }
  }
}

.love {
  font-size: 28px;
}

.btnGreen {
  background-color: rgb(135, 224, 0);
  box-shadow: rgb(135, 224, 0) 0px 1px 2px -1px;
  border: none;
  color: white;
  font-weight: 700;
  font-size: 28px;
  height: auto;
  padding: 5px 25px;
}