.modulContainer {
  height: 100vh;
  width: calc(100vw - (100vw - 100%));

  .content {
    padding: .5rem;
  }
  
  .menu {
    border-top: 1px solid #bbbbbb;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
    .menuItem {
      text-align: center;
      padding: 20px;
    }
  }
}

.customInput {
  border-radius: 20px !important;

  border-color: rgb(139, 231, 0);
  width: 100% !important;
}

.carouselContainer {
  .slick-slider.slick-initialized {
    width: 100%;
  }
}

.carouselContainer > div {
  width: 100%;
}

.carouselItem {
  border: 1px solid #bbb;
  border-radius: 10px;
  padding: 5px;
  margin-right: 10px;
}

.carouselItemImage {
  width: 45px;
}

.carouselItemText {
  font-size: 12px;
}

.itemCardContainer {
  width: 100%;
  margin-bottom: 20px;
  box-shadow: rgba(49, 53, 59, 0.12) 0px 1px 6px 0px;
  border-radius: 10px;
  border: 1px solid #bbb;

  .itemCardImage {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  .itemCardText {
    padding: 10px;
  }

  .love {
    padding: 10px;
    font-size: 28px;
    position: absolute;
    bottom: 50px;
  }
}

.customAntListDescription {
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden !important;
}