.loginContainer {
  border: 1px solid #bbbbbb;
  border-radius: 10px;
  padding: 20px;
  width: 90vw;

  form {
    width: 100%;
  }
}

.inputRow {
  margin-top: 20px;
  
  .customInput {
    border-radius: 20px;
    width: 100%;
  }
}

.socialLogin > span {
  width: 100%;
  .facebookLoginBtn {
    width: 100%;
    padding: 6px 10px;
    border-radius: 20px;
    border: none;
    background-color: #385898;
    border-color: #385898;
    color: white;
  }
}

.googleLoginButton {
  width: 100%;
}